
@media screen and (min-width: 1200px) and (max-width: 1400px) {

	.desh-right {
	  	padding: 45px 80px 100px 60px;
	}

	.btn-item p {
		font-size: 19px;
	}

	.btn-item h6 {
		font-size: 28px;
	}

	.table-box td {
		max-width: 200px;
	}

	.table-box table tr {
		width: 100%;
	}

	.table-box table tr:nth-of-type(1) th {
	   max-width: 200px;
	}

	.input-title {
	   width: 25%;
	   margin-right: 20px;
	}

	.input-loac {
	   width: 4%;
	   margin-left: 20px;
	}

	.input-box {
	   width: 63%;
	}

	.input-title h5 {
		font-size: 18px;
	}

		
}

/* FOR-LG-START */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	
	.desh-right {
	  	padding: 35px 50px 50px 20px;
	}

	.btn-item {
	  	padding: 14px 15px 20px 15px;
	}

	.btn-item p {
	  	font-size: 15px;
	}

	.btn-item h6 {
	  	font-size: 25px;
	}

	.table-box table td {
		min-width: 110px;
		padding: 30px 5px;
	} 

	.pagination-item {
		margin-top: 100px;
	}

	.table-box table tr:nth-of-type(1) th {
		padding: 0 5px;
	}

	.contact-right {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 400px;
		margin: auto;
	}

	.contact-btn {
		width: 50%;
	}

	.contact-btn a {
		font-size: 16px;
		display: block;
		text-align: center;
		margin-top: 15px;
	}

	.contact-btn2,
	.contact-btn4 {
		padding-left: 10px;
	}

	.contact-box {
		margin-top: 40px;
	}

	.input-title {
	   width: 100%;
	   margin-right: 35px;
	}

	.input-loac {
	   width: 5%;
	   margin-left: 15px;
	}

	.input-box {
	   width: 90%;
	   margin-top: 10px;
	}

	.contact-title h3 {
		font-size: 35px;
		text-align: center;
	}

	.contact-title h6 {
		text-align: center;
		font-size: 25px;
	}

	.back-btn {
	  	margin-top: 50px;
	}


	
} 

/*FOR-TABLATE-START*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.desh-top-left h2 {
	  	font-size: 40px;
	}

	.desh-right {
	  	padding: 35px 80px 70px 50px;
	}

	.btn-item {
		margin-top: 25px;
	}

	.btn-item p {
		font-size: 22px;
	}

	.btn-item h6 {
		font-size: 30px;
	}

	.table-box {
		overflow: auto;
	}

	.table-box table td {
	   min-width: 230px;
	}

	.pagination-item {
	  	margin-top: 90px;
	}

	.contact-right {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 400px;
		margin: auto;
	}

	.contact-btn {
		width: 50%;
	}

	.contact-btn a {
		font-size: 16px;
		display: block;
		text-align: center;
		margin-top: 15px;
	}

	.contact-btn2,
	.contact-btn4 {
		padding-left: 10px;
	}

	.contact-box {
		margin-top: 40px;
	}

	.input-title {
	   width: 100%;
	   margin-right: 35px;
	}

	.input-loac {
	   width: 5%;
	   margin-left: 15px;
	}

	.input-box {
	   width: 90%;
	   margin-top: 10px;
	}

	.contact-title h3 {
		font-size: 35px;
		text-align: center;
	}

	.contact-title h6 {
		text-align: center;
		font-size: 25px;
	}

	.back-btn {
	  	margin-top: 50px;
	}


}

/*FOR-MOBIL-START*/
@media screen and (max-width: 767px) {
	.desh-top-left h2 {
	  font-size: 35px;
	}

	.desh-topbar .desh-top-right a {
		display: none;
	}

	.desh-right {
	  	padding: 20px 15px 55px 15px;
	}

	.btn-item {
		max-width: 380px;
		margin: auto;
		text-align: center;
		margin-top: 20px;
	}

	.btn-item h6 {
		font-size: 25px;
	}

	.btn-item p {
		font-size: 20px;
	}

	.search-item {
		margin: auto;
		margin-top: 30px;
	}

	.search-item input::placeholder {
		font-size: 16px;
	}

	.search-item input {
	  	padding: 15px 15px 15px 45px;
	}

	.table-box {
		overflow: auto;
		margin-top: 20px;
	}

	.table-box table td {
	   min-width: 220px;
	}

	.table-box table tr td:nth-of-type(1) {
   		min-width: 100px;
	}

	.pagination-item ul li {
	  	margin-right: 30px;
	}

	.pagination-item {
	  	margin-top: 50px;
	}

	.contact-right {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 400px;
		margin: auto;
	}

	.contact-btn {
		width: 50%;
	}

	.contact-btn a {
		font-size: 16px;
		display: block;
		text-align: center;
		margin-top: 15px;
	}

	.contact-btn2,
	.contact-btn4 {
		padding-left: 10px;
	}

	.contact-title h3 {
		font-size: 30px;
		text-align: center;
	}

	.contact-title h6 {
		font-size: 22px;
		text-align: center;
	}

	.back-btn {
	  	margin-top: 50px;
	  	text-align: center;
	}

	.contact-submit input {
		margin-top: 30px;
	}

	.contact-area {
	  	margin-top: 20px;
	}

	.input-title {
	   width: 100%;
	   margin-right: 35px;
	}

	.input-loac {
	   width: 3%;
	   margin-left: 15px;
	}

	.input-box {
	   width: 90%;
	}

	.input-title h5 {
	   	font-size: 18px;
	}

	.input-loac img {
	  	max-width: 20px;
	}

	.input-box {
		margin-top: 10px;
	} 

	.input-box input {
	  	padding: 12px 20px;
	}

	.input-select select {
		font-size: 16px;
	}

	.input-box input::placeholder {
   		font-size: 16px;
	}

	.input-item-wrap {
		margin-top: 30px;
	}



}




		
		         
