@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*==BASIC-SETUP==*/
body {
   font-family: 'SF Pro Text';
   font-size: 16px;
   font-weight: 400;
   color: #000000;
}

a,
a:hover {
   text-decoration: none;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

p {
   margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-bottom: 0;
}

label {
   margin-bottom: 0;
}

/* scroll-bar */
.scrolltotop {
   width: 40px;
   height: 40px;
   border-radius: 100px 100px 0 0;
   background: #333333;
   text-align: center;
   padding-top: 8px;
   font-size: 20px;
   color: #ffffff;
   position: fixed;
   right: 8px;
   bottom: 10px;
   display: none;
   transition: 0.2s all ease;
   -webkit-transition: 0.2s all ease;
   -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
   color: #fff;
   background: rgba(51, 51, 51, 0.7);
}

/*==THIS IS START==*/
@media screen and (min-width: 992px) {

   .left-col {
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      max-width: 220px;
   }

   .right-col {
      -ms-flex: 0 0 calc(100% - 220px);
      flex: 0 0 calc(100% - 220px);
      max-width: calc(100% - 220px);
   }

}

.desh-left {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   position: sticky;
   top: 0;
   background: #FFFFFF;
   left: 0;
   padding: 40px 15px 50px 25px;
}

.desh-right {
   min-height: 100vh;
   background: #EEF6FC;
   padding: 45px 125px 100px 80px;
}

.logout-btn {
   margin-top: auto;
   position: relative;
}

.logout-btn a {
   font-size: 20px;
   font-weight: 400;
   color: #0e182c;
   display: block;
}

.logout-inner {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}

.logout-btn a span img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
}


/* MOBIL-MENU-START*/
.side-bar {
   background: #ffffff;
   backdrop-filter: blur(15px);
   width: 250px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: -250px;
   overflow-y: auto;
   transition: 0.6s ease;
   transition-property: left;
}

.side-bar::-webkit-scrollbar {
   width: 0px;
}

.side-bar.active {
   left: 0;
}

.side-bar .menu {
   width: 100%;
}

.menu-btn {
   width: 40px;
   margin-right: 15px;
   cursor: pointer;
}

.menu-btn span {
   width: 100%;
   height: 4px;
   background: #000;
   display: block;
   margin-top: 4px;
   border-radius: 5px;
}

.close-icon {
  width: 10px;
  height: 25px;
  display: block;
  position: relative;
  cursor: pointer;
}

.close-icon::before,
.close-icon::after {
  content: '';
  background: #000000;
  position: absolute;
  height: 100%;
  width: 4px;
  border-radius: 3px;
}

.close-icon::before {
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
}

.side-bar img {
   max-width: 150px;
}

.side-bar .mobil-desh ul li {
   padding: 20px 0 20px 20px;
   position: relative;
   margin: 5px 0 0 0;
}

.mobil-item-wrap {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding: 15px 15px 35px 15px;
}

.logout-btn {
   margin-top: auto;
}

/* MOBIL-MENU-END*/
.desh-right-cnt-wrap {
   max-width: 1285px;
   width: 100%;
}

.btn-area {
   max-width: 1180px;
   margin: auto;
}

.btn-item {
   padding: 14px 20px 20px 20px;
}

.btn-item1 {
   background: #B7DEC3;
}

.btn-item2 {
   background: #6D9DC5;
} 

.btn-item3 {
   background: #3967B1;
} 

.btn-item p {
   font-weight: 400;
   font-size: 24px;
   color: #6e6f70;
}

.btn-item h6 {
   font-weight: 700;
   font-size: 34px;
   color: #6e6e70;
}

.btn-item2 p,
.btn-item3 h6,
.btn-item2 h6,
.btn-item3 p {
   color: #ffffff;
   opacity: 0.8;
}

.search-item {
   max-width: 608px;
   background: #ffffff;
   border-radius: 20px;
   margin-top: 45px;
}

.search-item input {
   width: 100%;
   outline: none;
   border: none;
   background: url('images/search.png') no-repeat;
   background-position: 5% 50%;
   padding: 22px 15px 22px 60px;
}

.search-item input::placeholder {
   font-weight: 400;
   font-size: 22px;
   color: #90a3b9;
   opacity: 1;
}

.table-box {
   margin-top: 40px;
}

.table-box table {
   width: 100%;
   border-collapse: separate;
   border-spacing: 0 10px;
}

.table-box table tr {
   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
   border-collapse: collapse;
 }

 .table-box table tr:nth-of-type(1) {
   background: none;
   box-shadow: none;
   border-collapse: collapse;
} 

.table-box table td {
   padding: 30px 10px;
   background: #ffffff;
   font-weight: 400;
   font-size: 16px;
   color: #6a707e;
}

.table-box table tr:nth-of-type(1) th {
   font-weight: 400;
   font-size: 16px;
   color: #474a53;
}

.table-box table td:nth-of-type(4) {
   color: #acafb3;
}

.table-box table tr:nth-of-type(1) th:nth-of-type(1) {
   padding-left: 25px;
   width: 7%;
}

.table-box table tr td:nth-of-type(1) {
   border-radius: 4px 0 0 4px;
   padding-left: 25px;
   width: 7%;
}

.table-box table tr td:nth-of-type(6) {
   border-radius: 0px 4px 4px 0px;
}

.pagination-item {
   margin-top: 150px;
}

.pagination-item ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

.pagination-item ul li {
   margin-right: 50px;
}

.pagination-item ul li:last-child {
   margin-right: 0;
}

.pagination-item ul li a {
   font-weight: 700;
   font-size: 20px;
   color: #b2b4b3;
   transition: 0.2s all ease;
}

.pagination-item ul li a:hover {
   color: #000000;
}

.desh-right-cnt-wrap2 {
   max-width: 1230px;
}

/* userlist-page-start */
.back-btn {
   margin-top: 30px;
}

.back-btn a {
   font-weight: 700;
   font-size: 18px;
   color: #447bbe;
   border: 1px solid #447bbe;
   border-radius: 100px;
   padding: 13px 65px;
   transition: 0.2s all ease;
}

.contact-area {
   margin-top: 45px;
}

.back-btn a:hover {
   background: #447bbe;
   color: #ffffff;
}

.input-item-wrap {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 25px;
}

.input-item-wrap2 {
   margin-top: 0;
}

.contact-title {
   margin-top: 45px;
}

.contact-title h3 {
   font-weight: 600;
   font-size: 40px;
   color: #010101;
}

.contact-title h6 {
   font-weight: 600;
   font-size: 30px;
   color: #010101;
}

.contact-title h6 span {
   margin-left: 15px;
}

.input-title {
   width: 23%;
   margin-right: 35px;
}

.input-title h5 {
   font-weight: 400;
   font-size: 22px;
   color: #020202;
}

.input-loac {
   width: 4%;
   margin-left: 30px;
}

.input-loac img {
   max-width: 30px;
}

.input-box {
   width: 65%;
}

.input-box input {
   width: 100%;
   outline: none;
   border: 1px solid #E6EAEB;
   padding: 15px 20px;
   background: #ffffff;
   border-radius: 5px;
}

.input-box input::placeholder {
   font-weight: 400;
   font-size: 20px;
   color: #646666;
   opacity: 1;
}

.input-select {
   border: 1px solid #E6EAEB;
   background: #ffffff;
   border-radius: 5px;
}

.input-select select {
   width: 100%;
   outline: none;
   padding: 14px 20px;
   appearance: none;
   background: url('images/angle.png') no-repeat;
   background-position: 96% 50%;
   border: none;
   font-size: 20px;
   color: #646666;
}

.contact-submit input {
   font-weight: 700;
   font-size: 18px;
   outline: none;
   border: none;
   background: #447BBE;
   color: #ffffff;
   border-radius: 100px;
   padding: 10px 33px;
   margin-top: 60px;
   transition: 0.2s all ease;
}

.contact-submit input:hover {
   opacity: 0.8;
}

.contact-btn1 a {
   font-weight: 400;
   font-size: 18px;
   color: #ffffff;
   background: #38AFE4;
   border-radius: 100px;
   padding: 10px 68px;
   display: inline-block;
   transition: 0.2s all ease;
}

.contact-btn1 a:hover {
   opacity: 0.8;
}

.contact-btn2 a {
   font-weight: 400;
   font-size: 18px;
   color: #57b947;
   border-radius: 100px;
   padding: 8px 11px;
   display: inline-block;
   border: 1px solid #57b947;
   margin-top: 8px;
   transition: 0.2s all ease;
}

.contact-btn2 a:hover {
   background: #57b947;
   color: #ffffff;
}

.contact-btn3 a {
   font-weight: 400;
   font-size: 18px;
   color: #ffffff;
   background: #57B947;
   border-radius: 20px;
   padding: 6px 21px;
   display: inline-block;
   text-align: center;
   margin-top: 8px;
   transition: 0.2s all ease;
}

.contact-btn3 a:hover {
   opacity: 0.8;
}

.contact-btn4 a {
   font-weight: 400;
   font-size: 18px;
   color: #ffffff;
   background: #F15859;
   border-radius: 100px;
   padding: 10px 51px;
   display: inline-block;
   margin-top: 8px;
   transition: 0.2s all ease;
}

.contact-btn4 a:hover {
   opacity: 0.8;
}

.contact-btn5 a {
   font-weight: 400;
   font-size: 18px;
   color: #f15859;
   border-radius: 100px;
   padding: 8px 58px;
   display: inline-block;
   border: 1px solid #f15859;
   margin-top: 8px;
   transition: 0.2s all ease;
}

.contact-btn5 a:hover {
   background: #f15859;
   color: #ffffff;
}

@media screen and (min-width: 1401px) and (max-width: 1570px) {

   .input-title {
      width: 25%;
      margin-right: 20px;
   }

   .input-loac {
      width: 4%;
      margin-left: 20px;
   }

   .input-box {
      width: 65%;
   }

   .input-title h5 {
      font-size: 18px;
   }


}

/*==login-page==*/
.login-area {
   background: #EEF6FC;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
}

.login-box {
   max-width: 420px;
   width: 100%;
}

.login-email,
.login-password {
   border-radius: 100px;
   background: #EFEEEE;
   box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.login-box input {
   width: 100%;
   outline: none;
   border: none;
}

.login-box input::placeholder {
   font-weight: 400;
   font-size: 18px;
   color: #757575;
   opacity: 1;
}


.login-email input {
   background: url('images/login1.png') no-repeat;
   background-position: 7% 50%;
   padding: 15px 15px 15px 57px;
}

.login-password {
   margin-top: 30px;
}

.login-password input {
   background: url('images/login2.png') no-repeat;
   background-position: 7% 50%;
   padding: 15px 15px 15px 57px;
}

.login-submit input[type=submit] {
   width: 100%;
   border: none;
   border-radius: 100px;
   font-weight: 400;
   font-size: 20px;
   color: #ffffff;
   background: #315A9C;
   padding: 15px 5px;
   margin-top: 30px;
   transition: 0.2s all ease;
}

.login-submit input[type=submit]:hover {
   opacity: 0.8;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 6px;
    color: #999999 !important; 
    border-radius: 12%;
}
.pagination a:hover {
    color: #000000 !important; 
}

.pagination_link {
    font-weight: bold;
}

.pagination_link--active a{
    color: rgb(0, 0, 0) !important;
    border-radius: 12%;
}

.pagination_link--disabled a{
    color: rgb(202, 202, 202) !important;
}
.pagination_link--disabled a:hover{
    color: rgb(202, 202, 202) !important;
}




